<h3 class="usa-accordion__heading">
  <button type="button" type="button" class="usa-accordion__button" data-test="accordion-button" aria-expanded="false"
          aria-controls="hp{{ elements['#item'].parent.parent.entity.id() }}{{ elements['#item'].name }}">
    {{ item.first }}
  </button>
</h3>
<div id="hp{{ elements['#item'].parent.parent.entity.id() }}{{ elements['#item'].name }}"
     class="usa-accordion__content usa-prose" data-test="accordion-content">
  {{ item.second }}
</div>
