{% set state_abrev = content.field_state_abbreviation | field_value | render %}
{% if language == 'ko' and node.field_is_state.value %}
  {% set state_name = (label | field_value | render)  ~ " " ~ "state" %}
{% else %}
  {% set state_name = label | field_value | render %}
{% endif %}

  {# How to register to vote #}
  <h2>{{ 'How to register to vote in @state_name' | t({ '@state_name': state_name }) }}</h2>
    {# registration link, more info link #}
    {% if content.field_registration_link | render %}
      {% set registration_link = content.field_override_registration_link | field_value | render | default( content.field_registration_link | field_value | render ) %}
      {% set registration_link_text = "Start your online registration" | t %}
      <p>{{ '@link on @state_name’s election website.' | t({
          '@state_name': state_name,
          '@link': { "#markup": "<a href=\"#{registration_link}\">#{registration_link_text}</a>" } | render
        }) }}
      </p>
    {% endif %}
    {% if content.field_more_info_link | render %}
      {% set more_info_link = content.field_override_more_info_link | field_value | render | default( content.field_more_info_link | field_value | render ) %}
      {% set more_info_link_text = "register to vote by mail or in person" | t %}
      <p>{{ 'You can also @link on @state_name’s election website.' | t({
          '@state_name': state_name,
          '@link': { "#markup": "<a href=\"#{more_info_link}\">#{more_info_link_text}</a>" } | render
        }) }}
      </p>
    {% endif %}

    {# Registration deadlines #}
<h2>{{ 'Voter registration deadlines in @state_name' | t({ '@state_name': state_name }) }}</h2>
    <ul class="registered-resources">
    {% include '@vote_gov/partial/register/registration-date-online.html.twig' %}
    {% include '@vote_gov/partial/register/registration-date-mail.html.twig' %}
    {% include '@vote_gov/partial/register/registration-date-in-person.html.twig' %}
    </ul>

    {# Check voter registration #}
{% if content.field_confirm_registration_link | render %}
  {% set confirm_reg_link = content.field_override_confirm_reg_link | field_value | render | default( content.field_confirm_registration_link | field_value | render ) %}
  {% set confirm_reg_link_text = "confirm your voter registration status" | t %}
  <h2>{{ 'How to check your voter registration' | t({ '@state_name': state_name }) }}</h2>
    {% if state_abrev != 'wy' %}
      <p>{{ 'You can @link on @state_name’s election website.' | t({
          '@state_name': state_name,
          '@link': { "#markup": "<a href=\"#{confirm_reg_link}\">#{confirm_reg_link_text}</a>" } | render
        }) }}
      </p>
    {% else %} {# Wyoming alt text #}
      {% set alt_confirm_reg_link_text = "Click here to view Wyoming's county clerk contact information (PDF)" | t %}
      <p>{{ 'You can confirm your voter registration status by contacting your local registration office. @link.' | t({
          '@link': { "#markup": "<a href=\"#{confirm_reg_link}\">#{alt_confirm_reg_link_text}</a>" } | render
        }) }}
      </p>
    {% endif %}
{% endif %}
