{% set state_abrev = content.field_state_abbreviation | field_value | render %}
{% set state_name = label | field_value | render %}

    {# How to register #}
<h2>{{ 'How to register to vote in @state_name' | t({ '@state_name': state_name }) }}</h2>

    {# More info #}
    {% if content.field_more_info_link | render %}
        <p>{{ 'Register in person at your local election office. <a href="@link">Learn more about how to register</a> on @state_name\'s election website.' | t({
            '@link': content.field_override_more_info_link | field_value | render | default( content.field_more_info_link | field_value | render ),
            '@state_name': state_name
        }) }}
        </p>
    {% endif %} 

    {# Registration deadlines #}
<h2>{{ 'Voter registration deadlines in @state_name' | t ({ '@state_name': state_name }) }}</h2>
    <ul class="registered-resources">
    {% include '@vote_gov/partial/register/registration-date-in-person.html.twig' %}
    </ul>

    {# Check voter registration #}
{% if content.field_confirm_registration_link | render %}
<h2>{{ 'How to check your voter registration' | t }}</h2>
    {% if state_abrev != 'wy' %}
        <p>{{ 'You can <a href="@link">confirm your voter registration status</a> on @state_name\'s election website.' | t ({
        '@link': content.field_override_confirm_reg_link | field_value | render | default( content.field_confirm_registration_link | field_value | render ),
        '@state_name': state_name
        }) }}
        </p>
    {% else %} {# Wyoming alt text #}
        <p>{{ 'You can confirm your voter registration status by contacting your local registration office. <a href="@link">Click here to view Wyoming\'s county clerk contact information (PDF)</a>.' | t ({
        '@link': content.field_override_confirm_reg_link | field_value | render | default( content.field_confirm_registration_link | field_value | render )
        }) }}
        </p>
    {% endif %}
{% endif %}
