{#
/**
 * @file
 * Default theme implementation to display a block content: Email sign-up.
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}

<section{{ attributes.addClass('usa-sign-up').setAttribute('title', content.field_section_identifier | field_value | render) }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}
   <h2 class="usa-sign-up__heading">
      {{ content.field_heading | field_value }}
  </h2>
  <form class="usa-form" target="_blank" action="{{ content.field_link | field_value }}" method="get">
    <label class="usa-label" for="email" id="emailsub">
      {{ content.field_email_field_label | field_value }}
    </label>
    <div class="vote-inline-form">
      <input id="email" name="email" type="email" class="usa-input max-width-input" data-test="emailSignup"/>
      <button class="usa-button max-width-input" id="user-submit" type="submit">
        {{ content.field_signup_button_label | field_value }}
      </button>
    </div>
  </form>
</section>
