{#
/**
 * @file
 * Default theme implementation to display a block content: partnership.
 */
#}

{% if view_mode != 'teaser' %}
{# USAgov partnership component #}
<div class="vote-usagov-partner">
  {# USA.gov Links #}
  <nav class="vote-usagov-partner__links" aria-label="{{ content.field_section_identifier | field_value }}">
    {# USA.gov election info links #}
    <h2 class="vote-heading--red-underline">{{ content.field_heading | field_value }}</h2>
    {% if content.field_election_resources | render %}
      <ul>
        {% for resource in content.field_election_resources | field_value %}
          <li>{{ resource }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
  {# Row 2 Divider - USA.gov link and email sign-up #}
  <div class="vote-usagov-partner__contact-container">
    <div class="vote-usagov-partner__contact">
      <div class="vote-usagov-partner__logo">
        {# USA.gov link #}
        <a href="{{ content.field_usagov_logo_link | field_value }}" extlinkjs-ignore>
          {{ content.field_usagov_logo | field_value }}
        </a>
        <div class="vote-usagov-partner__disclaimer">
          {{ content.field_usagov_logo_text | field_value }}
        </div>
      </div>
      {# Email sign-up component. #}
      {{ drupal_entity('block_content', 4) }}
    </div>
  </div>
</div>
{% endif %}

{# EAC Partnership component #}
<div class="vote-eac-partner vote-block-padding-y-narrow" data-test="footerContact">
  <div class="vote-eac-partner__container">
    <div class="vote-eac-partner__logo">
      {# EAC Text #}
      <div class="vote-eac-partner__text">
        {{ content.field_eac_logo_text | field_value }}
      </div>
      {# EAC logo #}
      <div class="vote-eac-partner__logo-img">
        <a extlinkjs-ignore
           href="{{ content.field_eac_logo_link | field_value }}"
           target="_blank"
           class="vote-eac-partner__logo-link">
          {{ content.field_eac_logo | field_value }}
          <span>{{ 'U.S. ELECTION ASSISTANCE COMMISSION' | t }}</span>
        </a>
      </div>
    </div>

    {# Social link display is controlled by a field value #}
    {% if elements['#block_content'].field_display_social_link.value == 1 %}
      <div class="vote-eac-partner__social-links">
        {% set social_link = content.field_social_link | field_value %}
        <a class="vote-eac-partner__social-link" extlinkjs-ignore href="{{ social_link.0['#url_title'] }}">
          <p>{{ social_link.0['#title'] }}</p>
          {{ content.field_social_logo | field_value }}
        </a>
      </div>
    {% endif %}

  </div>
</div>
