{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class
  ]
%}

{% set affiliated_search = content.field_translated_affiliate | field_value | render %}

  <form class="usa-search usa-search--small" role="search">
    <label class="usa-sr-only" for="search-field-en-small">{{ 'Search Vote.gov' | t }}</label>
    {# if current language is chinese simplified, change the search to use Chinese tradional 'zh' #}
    {% set searchLanguage = language == 'zh-hans' ? 'zh' : language %}
    <input type="hidden" name="affiliate" id="affiliate" value="vote_{{ affiliated_search == '1' ? searchLanguage : 'en' }}" autocomplete="off">

    <label class="usa-sr-only" for="search-field-en-small">{{ content.field_search_placeholder | field_value }}</label>

    <input class="usa-input" data-test="search-box" id="search-field-en-small" type="search" name="query" autocomplete="off" placeholder="{{ content.field_search_placeholder | field_value }} {{ affiliated_search != '1' ? '(in English)' | t }}">

    <button class="usa-button" type="submit">
      <img
        src="{{ uswds_img_path }}/usa-icons-bg/search--white.svg"
        class="usa-search__submit-icon"
        alt="{{ 'Search Vote.gov' | t }}"
      />
    </button>
  </form>
