{% block content %}
<section class="usa-sign-up" title="{{'Email sign-up' | t}}" aria-label="{{'Email sign-up' | t}}">
   <h2 class="usa-sign-up__heading">
      {{ content.field_heading | field_value | render | replace({'%USAGov%': 'USAGov'}) | raw}}
  </h2>
  <form class="usa-form" target="_blank" action="{{ content.field_link | field_value }}" method="get">
    <label class="usa-label" for="email" id="emailsub">
      {{ content.field_email_field_label | field_value }}
    </label>
    <div class="vote-inline-form">
      <input id="email" name="email" type="email" class="usa-input max-width-input" data-test="emailSignup"/>
      <button class="usa-button max-width-input" id="user-submit" type="submit">
        {{ content.field_signup_button_label | field_value }}
      </button>
    </div>
  </form>
</section>
{% endblock %}
