{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}

{% set affiliated_search = content.field_translated_affiliate | field_value | render %}

<form class="usa-search usa-search--small" role="search" action="https://search.vote.gov/search" accept-charset="UTF-8" method="get">
  {# if current language is chinese simplified, change the search to use Chinese tradional 'zh' #}
  {% set searchLanguage = language == 'zh-hans' ? 'zh' : language %}
  <input type="hidden" name="affiliate" id="affiliate"
         value="vote_{{ affiliated_search == '1' ? searchLanguage : 'en' }}" autocomplete="off">

  <label class="usa-sr-only" for="search-field-en-small">{{ content.field_search_placeholder | field_value }}</label>

  <input id="usa-search-input" class="usa-input" data-test="search-box" id="search-field-en-small" type="search" name="query"
         autocomplete="off"
         placeholder="{{ content.field_search_placeholder | field_value }} {{ affiliated_search != '1' ? '(in English)' | t }}">

  <button class="usa-button usa-button--unstyled usa-button--search" data-test="search-btn" type="submit" name="commit" data-disable-with="Search">
    {{ source( directory ~ '/img/svg/arrow.svg' ) }}
  </button>
</form>

