{#
/**
 * @file
 * Default theme implementation to display a block content: Registration form selector.
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}

{{ attach_library('votegov/nvrf_pdf_download') }}
<div{{ attributes.addClass('vote-content-section') }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}

  <h2>{{ 'Other ways to register to vote' | t }}</h2>
  <p>{{ 'We\'ll walk you through each step with state-specific instructions. When you\'ve finished filling out hte digital form, you\'ll be able to print, sign, and mail it to your state.' | t }}</p>
  <a href="" class="usa-button" title="{{ 'Register by mail with the digital form filler' | t }}">Register by mail with the digital form filler</a>

  <h2>{{ content.field_heading | field_value | render | replace({"@state_name": currentnode.getTitle()}) | raw }}</h2>
  <form class="usa-form" method="get" id="register_form_download" data-test="nvrfForm">
    <p>{{ content.field_description | field_value }}</p>
    <div class="field">
      <label class="usa-sr-only" for="js-user-selection">{{ content.field_default_option_label }}</label>
      {# NVRF language selector #}
      {{ content.field_registration_form_link }}
      {# Download button #}
    </div>
    <button class="usa-button" id="js-user-submit" type="submit">{{ content.field_submit_button_label | field_value }}</button>
  </form>
</div>
