{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'vote-content-section',
  'block-content',
  'block-content--type-' ~ bundle|clean_class,
  'block-content--' ~ id,
  'block-content--view-mode-' ~ view_mode|clean_class
]
%}

{{ attach_library('votegov/nvrf_pdf_download') }}
<div{{ attributes.addClass(classes) }}>
  <h2>{{ content.field_heading | field_value | render | replace({"@state_name": currentnode.getTitle()}) | raw }}</h2>
  <form class="usa-form" method="get" data-test="nvrf-form">
    <p>{{ content.field_description | field_value }}</p>
    <div class="field">
      <label class="usa-sr-only" for="js-user-selection">{{ content.field_default_option_label }}</label>
      {# NVRF language selector #}
      {{ content.field_registration_form_link }}
      {# Download button #}
    </div>
    <button class="usa-button" id="js-user-submit" type="submit">{{ content.field_submit_button_label | field_value }}</button>
  </form>
</div>
