{#
/**
 * @file
 * Default theme implementation to display a block content: Registration form selector.
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}

{{ attach_library('votegov/nvrf_pdf_download') }}
<div{{ attributes.addClass('vote-content-section') }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}

  <h2>{{ content.field_heading | field_value | render | replace({"@state_name": currentnode.getTitle()}) | raw }}</h2>

  {{ content.field_digital_form_paragraph | field_value }}

  {% if content.field_digital_form_link_label | render %}
    {# Set path to form dynamically using page route. #}
    {% set form_route = language != 'es' ? 'vote_nvrf.nvrf_page' : 'vote_nvrf.nvrf_page_es' %}
    {% set state_name = currentnode.label | lower | replace({' ': '-'}) %}
    <p>
      {% include '@votegov/component/button.html.twig' with {
        'href': 'internal:' ~ path(form_route, {'state_name': state_name}),
        'label': content.field_digital_form_link_label | field_value,
        'data_label': 'data-state-ext',
        'data': 'nvrf-pdf-tool-registration'
      } %}
    </p>
  {% endif %}

  <form class="usa-form" method="get" id="register_form_download" data-test="nvrfForm">
    <p>{{ content.field_description | field_value }}</p>
    <div class="field">
      <label class="usa-sr-only" for="js-user-selection">{{ content.field_default_option_label }}</label>
      {# NVRF language selector #}
      {{ content.field_registration_form_link }}
      {# Download button #}
    </div>
    <button class="usa-button" id="js-user-submit" type="submit" data-test="nvrfDownload">{{ content.field_submit_button_label | field_value }}</button>
  </form>
</div>
