{#
/**
 * @file
 * Default theme implementation to display a block content: Registration form selector.
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}

{{ attach_library('votegov/nvrf_pdf_download') }}
<div{{ attributes.addClass('vote-content-section') }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}

  <h2>{{ content.field_heading | field_value | render | replace({"@state_name": currentnode.getTitle()}) | raw }}</h2>

  {{ content.field_digital_form_paragraph | field_value }}
  {% set form_path = currentnode.id ? path('entity.node.canonical', {'node': currentnode.id}) ~ '/mail-in-form-filler' %}
  {% if content.field_digital_form_link_label | render %}
    <p>
      {% include '@votegov/component/button.html.twig' with {
        'href': 'internal:' ~ form_path,
        'label': content.field_digital_form_link_label | field_value
      } %}
    </p>
  {% endif %}

  <form class="usa-form" method="get" id="register_form_download" data-test="nvrfForm">
    <p>{{ content.field_description | field_value }}</p>
    <div class="field">
      <label class="usa-sr-only" for="js-user-selection">{{ content.field_default_option_label }}</label>
      {# NVRF language selector #}
      {{ content.field_registration_form_link }}
      {# Download button #}
    </div>
    <button class="usa-button" id="js-user-submit" type="submit" data-test="nvrfDownload">{{ content.field_submit_button_label | field_value }}</button>
  </form>
</div>
