{% extends "page.html.twig" %}
{% set title = drupal_title() %}

{% block main %}
  <main role="main" id="main">
    <a id="main-content" tabindex="-1"></a>
    <section class="vote-hero vote-hero--dark">
      <div class="vote-hero__container">
        <div class="vote-hero__callout">
          {{ drupal_entity('block', 'votegov_breadcrumbs') }}
          <div class="vote-hero__content">
            <h1 class="vote-hero__heading">
              {{ title }}
            </h1>
            <div class="vote-hero__text usa-intro">
              {{ node.field_subtitle.value  | check_markup(node.field_subtitle.format) }}
            </div>
          </div>
        </div>
        {% if node.field_media.value %}
          <div class="vote-hero__image">
            {{ drupal_field('field_media', 'node', node.id(), {type: 'media_thumbnail', settings: {image_style: 'scaled_lg'}}) | field_value }}
          </div>
        {% endif %}
      </div>
    </section>
    <div class="vote-main-content-row vote-block-margin-y--narrow grid-container usa-in-page-nav-container">
      <aside
        class="usa-in-page-nav"
        data-main-content-selector=".usa-in-page-nav-container"
        data-title-text="On this page"
        data-title-heading-level="h2"
        data-scroll-offset="-600"
        data-root-margin="48px 0px -90% 0px"
        data-threshold="1"
      ></aside>
      <div class="vote-page-content vote-page-content--alt">
        {{ page.content }}
      </div>
    </div>
  </main>
  <div role="region" aria-label="{{ 'Know your voting rights' | t }}">
  {# Voter guide listing #}
  {{ drupal_view('voter_guides', 'embed_1') }}
  </div>
{% endblock %}
