{#
/**
* @file
* Theme override to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
* "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
* administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
* linking to the front page. This includes the language domain or prefix.
*
* Page content (in order of occurrence in the default page.html.twig):
* - node: Fully loaded node, if there is an automatically-loaded node
* associated with the page and the node ID is the second argument in the
* page's path (e.g. node/12345 and node/12345/revisions, but not
* comment/reply/12345).
*
* Regions:
* - page.admin: Dynamic help text, mostly for admin pages.
* - page.header: Items for the header region.
* - page.content: The main content of the current page.
* - page.sidebar: Items for the sidebar.
* - page.footer: Items for the footer region.
*
* @see template_preprocess_page()
* @see html.html.twig
*/
#}
{# Load utility libraries when logged in. #}
{% if logged_in %}
  {{ attach_library('bixaluswds/logged-in') }}
{% endif %}

{% include '@votegov/component/theme-switcher.html.twig' %}

{# load navajo font #}
{% if language == 'nv' %}
  {{ attach_library('votegov/navajo-font') }}
{% endif %}

{# set a variable if the node has a featured image #}
{% set node_image = node.field_media.value | length %}
{% if node_image %}
 {% set media_field = drupal_field('field_media', 'node', node.id(), {type: 'media_thumbnail', settings: {image_style: 'scaled_lg' }}) | field_value %}
{% endif %}

{# set hero title #}
{% set title = drupal_title() %}
{% set node_type = currentnode.bundle() %}

{% if node_type == "state_territory" %}
  {% set state_display_title = drupal_field('field_display_title', 'block_content', 23) %}
  {% set title = title | render | striptags | trim %}
  {% if language == 'ko' and currentnode.field_is_state.value %}
    {% set korean_state_char = "state" | t %}
    {% set title = title ~ " " ~ korean_state_char %}
  {% endif %}

  {% set in_state_name = currentnode.field_in_state_name.value | default("@state_name") | t({ "@state_name": title }) %}
  {% set title = state_display_title | field_value | render | trim | t ({
    "@state_name": title,
    "@in_state_name": in_state_name
  }) | default(title) %}
{% endif %}

{# Government banner component #}
  {{ drupal_entity('block_content', '1') }}

{# If the current page has been marked as outdated and it's the front page #}
{% if is_front and node.content_translation_outdated.value == 1 %}
  {{ drupal_entity('block_content', '20') }}
{% endif %}

{# Sitewide alert component #}
  {{ drupal_view('sitewide_alert', 'block_1') }}

<header class="usa-header usa-header--extended">
  {% set mainmenu = drupal_entity('block', 'votegov_mainnavigation') | render %}
  <div class="usa-navbar">

    {# Site branding component #}
    {{ drupal_entity('block', 'votegov_sitebranding') }}

    {% if mainmenu %}
    <button type="button" class="usa-menu-btn" data-test="mobileBtn">{{ 'Menu' | t }}</button>
    {% endif %}

  </div>

  {# Main navigation component #}
  {{ mainmenu }}
</header>

{{ page.admin }}

{% block main %}
  {% if page.sidebar %}
    <section id="main-content" class="grid-container content-container">
    {% include '@votegov/component/hero.html.twig' with {
      'heading': title,
      'media': media_field,
      'variant': 'dark'
    } %}
      <div class="vote-main-content-row">
        <aside id="sidebar" role="complementary">
          {{ page.sidebar }}
        </aside>
        <main role="main" id="main" class="vote-page-content vote-page-content--sidebar">
          {{ page.content }}
        </main>
      </div>
    </section>
  {% else %}
    <main role="main" id="main-content">
    {% include '@votegov/component/hero.html.twig' with {
      'heading': title,
      'media': media_field,
      'variant': 'dark'
    } %}
      <div class="vote-page-content grid-container">
        {{ page.content }}
      </div>
    </main>
  {% endif %}
{% endblock %}

{% include '@votegov/component/to-top.html.twig' %}

<footer class="usa-footer">
  {# Partnerships component #}
  {{ drupal_entity('block_content', 24) }}
  {# Identifier component #}
  {{ drupal_entity('block_content', 25) }}
</footer>
