{% set classes = [
  'node--' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'usa-card tablet:grid-col-6 tablet-lg:grid-col-4 desktop:grid-col-3 '
] %}

<article{{ attributes.addClass(classes) }}>
    <a href={{ url }}>
      <div class="usa-card__container">
        <div class="vote-feature-card__icon">
          {{ source( directory ~ '/img/feature-circle.svg' ) }}
        </div>
        <div class="vote-feature-card__content">
        <div class="usa-card__header">
            <h3 class="usa-card__heading">{{ label }}</h3>
        </div>
        <div class="usa-card__body">
            {{ content.body | render | striptags }}
        </div>
        </div>
      </div>
  </a>
</article>
