{% set classes = [
  'node--' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'usa-card tablet:grid-col-5 desktop:grid-col-4 desktop-lg:grid-col-3'
] %}

<article{{ attributes.addClass(classes) }}>
    <a href="{{ url }}" title="{{ label | field_value }}">
      <div class="usa-card__container">
        <div class="vote-feature-card__icon">
          <div class="vote-feature-card__icon-circle">
            <span class="icon-default">{{ content.field_icon | field_value }}</span>
            <span class="icon-hover">{{ content.field_icon_hover | field_value }}</span>
            <span class="icon-active">{{ content.field_icon_active | field_value }}</span>
          </div>
        </div>
        <div class="vote-feature-card__content">
        <div class="usa-card__header">
            <h3 class="usa-card__heading">{{ label }}</h3>
        </div>
        <div class="usa-card__body">
            {{ content.body | render | striptags }}
        </div>
        </div>
      </div>
  </a>
</article>
