{#
/**
 * @file
 *  Bixal USWDS Theme override to display a node: State/Territory.
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}

{% set classes = [
  'node--' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'vote-state-territory-content',
  'vote-main-content-row',
  'vote-block-margin-y--narrow',
  'grid-container',
  'usa-in-page-nav-container'
] %}

{# Links with fallbacks. #}
{% set more_info_link = content.field_override_more_info_link | field_value | default(content.field_more_info_link | field_value) | render | trim %}
{% set confirm_registration_link = content.field_override_confirm_reg_link | field_value | default(content.field_confirm_registration_link | field_value) | render | trim %}
{#{% set election_homepage_link = content.field_override_election_hp_link | field_value | default(content.field_election_homepage_link | field_value) | render | trim %}#}
{% set registration_link = content.field_override_registration_link | field_value | default(content.field_registration_link | field_value) | render | trim %}
{% set state_mail_pdf_link = content.field_override_mail_reg_link | field_value | default(content.field_mail_registration_link | field_value) | render | trim %}

{# Deadlines with fallbacks. #}
{% set online_deadline = content.field_online_deadline | field_value | default(content.field_g_online_deadline | field_value) %}
{% set inperson_deadline = content.field_in_person_deadline | field_value | default(content.field_g_in_person_deadline | field_value) %}
{% set postmarked_deadline = content.field_mail_postmarked_deadline | field_value | default(content.field_g_mail_postmarked_deadline | field_value) %}
{% set received_deadline = content.field_mail_received_deadline | field_value | default(content.field_g_mail_received_deadline | field_value) %}

{# State content with fallbacks. #}
{# Get default state display content from the block type. #}
{% set state_display_content = drupal_entity('block_content', 22) | children %}
{% set registration_not_needed = state_display_content.field_registration_not_needed.0 | default([]) | merge(content.field_registration_not_needed.0 | default([])) %}
{% set registration_intro = state_display_content.field_registration_intro.0 | default([]) | merge(content.field_registration_intro.0 | default([])) %}
{% set online_registration = state_display_content.field_online_registration.0 | default([]) | merge(content.field_online_registration.0 | default([])) %}
{% set military_overseas_registration = state_display_content.field_military_and_overseas_regi.0 | default([]) | merge(content.field_military_and_overseas_regi.0 | default([])) %}
{% set mail_registration = state_display_content.field_mail_registration.0 | default([]) | merge(content.field_mail_registration.0 | default([])) %}
{% set inperson_registration = state_display_content.field_in_person_registration.0 | default([]) | merge(content.field_in_person_registration.0 | default([])) %}
{% set check_registration = state_display_content.field_check_registration.0 | default([]) | merge(content.field_check_registration.0 | default([])) %}

<div{{ attributes.addClass(classes) }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}

  {% if drupal_view('inline_alert', 'embed_1') | render | striptags | trim %}
  {{ drupal_view('inline_alert', 'embed_1') }}
  {% endif %}

  {% block aside %}
  <aside
    class="usa-in-page-nav"
    data-main-content-selector=".usa-in-page-nav-container"
    data-title-text="{{ 'Jump to registration options' | t }}"
    data-title-heading-level="h2"
    data-scroll-offset="-600"
    data-root-margin="48px 0px -90% 0px"
    data-threshold="1"
  ></aside>
{% endblock %}

  <div class="vote-page-content vote-page-content--alt">
  {% block content %}
    {% if check_registration is not empty %}
      {{ check_registration }}
      {{ confirm_registration_link }}
    {% endif %}

    {% if registration_intro is not empty %}
      <h2>{{ registration_intro.heading }}</h2>
      {{ registration_intro.text }}
    {% endif %}

    {% if online_registration is not empty %}
      {{ online_registration }}
      {{ online_deadline }}
      {{ registration_link }}
    {% endif %}

    {% if mail_registration is not empty %}
      {{ mail_registration }}
      {{ postmarked_deadline }}
      {{ received_deadline }}
      {{ state_mail_pdf_link }}
    {% endif %}

    {% if inperson_registration is not empty %}
      {{ inperson_registration }}
      {{ inperson_deadline }}
    {% endif %}

    {% if military_overseas_registration is not empty %}
      {{ military_overseas_registration }}
    {% endif %}
  {% endblock %}
</div>
