{% extends 'node--teaser.html.twig' %}
{#
/**
 * @file
 *  Bixal USWDS Theme override to display a node: Voter Guide - teaser.
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}
{% set attributes = attributes.addClass('usa-card') %}

{% block content %}
  <a class="vote-card__link" href="{{ url }}" aria-labelledby="vg-teaser-{{ node.id() }}">
    <div class="usa-card__container">
      <div class="vote-feature-card__icon">
        {{ content.field_icon | field_value }}
      </div>
      <div class="vote-feature-card__content">
        <h3 id="vg-teaser-{{ node.id() }}" class="usa-card__heading">{{ label }}</h3>
        <div class="usa-card__body">
          {{ content.body | render | striptags }}
        </div>
      </div>
    </div>
  </a>
{% endblock %}
