{#
/**
 * @file
 * Default theme implementation to display a paragraph: Hero.
 */
#}
{% set classes = [
  'vote-hero',
  'vote-hero--' ~ content.field_background_color | field_value | render
] %}

{% set alt_text = content.field_media[0]['#item'].alt %}

{# Caching the data in content object #}
{% set savedCache = content | render %}

{# add if statement - if alt is set of alt = alt else null alt = alt="" #}

{# {% if item.alt %}
  {{ item.alt|t }} -> {{ 'New alt text'|t }}
{% endif %} #}

<section{{ attributes.addClass(classes) }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="vote-hero__container">
    <div class="vote-hero__callout">
      {% if paragraph.field_background_color.value == 'dark' %}
        {{ drupal_entity('block', 'votegov_breadcrumbs') }}
      {% endif %}
      <div class="vote-hero__content">
        <h1 class="vote-hero__heading">
          {{ content.field_heading | field_value }}
        </h1>
        {% if content.field_body | render %}
          <div class="vote-hero__text usa-intro">
            {{ content.field_body | field_value }}
          </div>
        {% endif %}
        {% include '@votegov/component/button.html.twig' with {
          'href': paragraph.field_link.0.url,
          'label': paragraph.field_link.0.title,
          'secondary': true
        } %}
      </div>
    </div>
    {# {{ dd(content.field_media[0]['#item'].alt) }} #}

    {% if content.field_media | render %}
    {# {{ dd(alt_text) }} #}
    {% if alt_text is not empty %}
    <div class="vote-hero__image">
      {{ content.field_media | field_value }}
    </div>
    {% else %}
    <div class="vote-hero__image">
      {{ content.field_media | {{ add_alt_text(content.field_media, 'Your alt text here') | field_value }} }}
    
    </div>
    {% endif %}
  {% endif %}

  </div>
</section>
