{#
/**
 * @file
 * Default theme implementation to display a paragraph: Accordion Group
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}

<section{{ attributes.addClass('vote-accordion-group') }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}
  <h2 class="vote-accordion-group__heading vote-heading--red-underline vote-heading--max-width">
    {{ content.field_heading | field_value }}
  </h2>
  <div class="vote-accordion-group__content">
    {{ content.field_accordions }}
  </div>
</section>
