{#
/**
 * @file
 * Default theme implementation to display a paragraph: Quick Links.
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}

<section{{ attributes.addClass('vote-quicklinks') }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="vote-quicklinks__container">
    <h2 class="vote-quicklinks__heading vote-heading--red-underline">
      {{ content.field_heading | field_value }}
    </h2>
    <div class="vote-quicklinks__content">
      {{ content.field_body | field_value }}
      {% if content.field_link | render %}
        <p>{{ content.field_link | field_value }}</p>
      {% endif %}
    </div>
  </div>
</section>
