{#
/**
 * @file
 * Default theme implementation to display a registration tool paragraph.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('votegov/registration_tool') }}

{% block paragraph %}
  <section class="register align-bottom" role="region" aria-label="{{ content.field_heading | field_value }}">
    <header>
      <h1 class="main-heading" data-test="main-header">{{ content.field_heading | field_value }}</h1>
    </header>

    <form id="state-combo-box">
      <label for="state-input">{{ content.field_form_heading | field_value }}</label>
      <div class="input-buttons-group">
        <input type="text" class="state-input" id="state-input" autocomplete="off"
               placeholder="{{ content.field_placeholder | field_value }}">
        <div class="input-control-container">
          <button id="state-dropdown-btn" tabindex="-1" class="dropdown-btn" type="button"
                  aria-hidden="true"></button>
        </div>
      </div>
      <nav id="state-results-container" hidden>
        <ul id="results-list">
          {% set results = drupal_view_result('state_territory', 'block') %}
          {% for result in results %}
            {% set nodeID = result._entity.id() %}
            {% set node_path = path('entity.node.canonical', {'node': nodeID}) %}
            <li>
              <a href="{{ node_path }}">{{ result.node_field_data_title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </form>

  </section>
{% endblock %}
