{#
/**
 * @file
 * Default theme implementation to display a paragraph: Basics Block.
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}

<div{{ attributes.addClass(['vote-basics-block', 'type--secondary']) }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}
  {% if content.field_heading | render %}
    <h2 class="vote-heading--red-underline">
      {{ content.field_heading | field_value }}
    </h2>
  {% endif %}
  <div class="vote-basics-block__content">
    {% if content.field_body | render %}
      <div class="vote-basics-block__text">
        {{ content.field_body | field_value }}
      </div>
    {% endif %}
    {{ content.field_basics_modules | field_value }}
  </div>
</div>
