{% set classes = [
  'block',
  'block-menu',
  'navigation',
  'menu--' ~ derivative_plugin_id|clean_class,
] %}

{% set heading_id = attributes.id ~ '-menu'|clean_id %}
{% set GSAlink = link('General Services Administration' | t, 'https://www.gsa.gov/') %}
{% set infoLink = link('Visit USA.gov' | t, 'https://www.usa.gov/') %}

{# contact start #}
{% include '@vote_gov/partial/footer-contact.html.twig' %}
{# contact end #}

{# identifier start #}
<div class="footer-identifier" data-test="footer">
  <div class="grid-container">
    <section class="identifier-gsa grid-row grid-gap-2" aria-label="{{ 'Agency identifier' | t }}">
      <div><img src="/themes/custom/vote_gov/img/gsa-logo.svg" alt="GSA logo" width="40" height="40"></div>
      <div class="grid-col-auto" aria-label="{{ 'Agency description' | t }}">
        {{ 'Vote.gov' }}<br>
        <strong>{{ 'An official website of the %link%' | t({'%link%': GSAlink | render}) }}</strong>
      </div>
    </section>
      {# Menu items (uses template /navigation/menu--footer.html.twig) #}
    <nav class="grid-row grid-gap identifier" aria-label="{{ 'Important links' | t }}">
    {% block content %}
      {{ content }}
    {% endblock %}
    </nav>
    <section aria-label="{{ 'Government information and services' | t }}" class="identifier-gov-info">
        {{ 'Looking for U.S. government information and services? %link%' | t({'%link%': infoLink | render}) }}
    </section>
  </div>
</div>
{# identifier end #}
