{% set classes = [
  'block',
  'block-menu',
  'navigation',
  'menu--' ~ derivative_plugin_id|clean_class,
] %}

{% set heading_id = attributes.id ~ '-menu'|clean_id %}

{# identifier start #}
<div class="usa-identifier">
<div class="grid-container">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label={{ 'Agency identifier' | t }}>
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="" class="usa-identifier__logo">
          <img
            class="usa-identifier__logo-img"
            src="/themes/custom/vote_gov/img/gsa-logo.svg"
            alt={{ 'GSA logo' | t }}
            role="img"/>
        </a>
      </div>
      <section class="usa-identifier__identity" aria-label={{ 'Agency description' | t }}>
        <p class="usa-identifier__identity-domain">{{'Vote.gov'}}</p>
        <p class="usa-identifier__identity-disclaimer">
          {{'An official website of the '}}<a href="https://www.gsa.gov/">{{'General Services Administration' | t }}</a>
        </p>
      </section>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links" aria-label={{ 'Important links' | t }}>
    <div class="usa-identifier__container">
      {# Menu items (uses template /navigation/menu--footer.html.twig) #}
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </nav>
  <section class="usa-identifier__section usa-identifier__section--usagov" aria-label={{ 'U.S. government information and services' | t }}>
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        {{ 'Looking for U.S. government information and services? ' | t }}
        {{ link('Visit USA.gov', 'https://www.usa.gov/') }}
      </div>
    </div>
  </section>
  </div>
</div>
{# identifier end #}