{#
/**
 * @file
 * Theme override to display a block.
 */
#}


{# Blue banner with page title #}
<div class="bg-blue css-arrow">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4">
		  {% set logo_sitename = language != 'en' ? sitename ~ ' in ' ~ languagename : sitename %}
          <a class="site-logo" href="/{{ language }}" aria-label="{{ logo_sitename | t }}">
            <div class="logo-text">{{ logo_sitename }}</div>
            <div id="SiteLogo">
				{{ source( directory ~ '/img/ballot_box-blue.svg' ) }}
			</div>
			</a>
        </div>
        <div id="skip-target" class="tablet:grid-col-8 right-shift">
          <div class="align-center">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
