{#
/**
 * @file
 * Theme override for a field.
 *
 */
#}

{# NVRF selector fields #}
<select class="usa-select  max-width-input" name="userselection" id="js-user-selection" value={{ languagename }}>
  {% for item in items %}
      {% if item.content['#title'] is same as(languagename) %}
    <option value="{{ item.content['#url_title'] }}"{{ option.selected ? ' selected="selected"' }}>{{ item.content['#title'] }}</option>
      {% endif %}
  {% endfor %}
    {% for item in items %}
      {% if item.content['#title'] is not same as(languagename) %}
    <option value="{{ item.content['#url_title'] }}"{{ option.selected ? ' selected="selected"' }}>{{ item.content['#title'] }}</option>
      {% endif %}
  {% endfor %}
</select>
