{#
/**
 * @file
 * Theme override for a field.
 *
 */
#}

{# NVRF selector fields #}
<select class="usa-select  max-width-input" name="userselection" id="js-user-selection">
  {% for item in items %}
      {% set langID = item.content['#url'].options.attributes.class[0] %}
      {% if langID is same as(language | replace({'-hans' : ''})) %}
    <option value="{{ item.content['#url_title'] }}"{{ option.selected ? ' selected="selected"' }}>{{ item.content['#title'] }}</option>
      {% endif %}
  {% endfor %}
    {% for item in items %}
      {% set langID = item.content['#url'].options.attributes.class[0] %}
      {% if langID is not same as(language | replace({'-hans' : ''})) %}
    <option value="{{ item.content['#url_title'] }}"{{ option.selected ? ' selected="selected"' }}>{{ item.content['#title'] }}</option>
      {% endif %}
  {% endfor %}
</select>
