<div class="usa-identifier">
  <div class="usa-identifier__container">
    <div class="grid-row grid-gap">
      {#Column 1 divider - USA Logo#}
      <section
        class="usa-identifier__section--masthead"
        aria-label={{"Agency identifier," | t }}
      >
        <section
          class="usa-identifier__identity"
          aria-label={{"Agency description," | t }}
        >
          <div class="vote-heading--red-underline">
            <a href="https://www.usa.gov/" class="usa-identifier__logo">
              <img
                class="usa-identifier__logo-img"
                src="{{ theme_path }}/img/USA_GOV_Logo.svg"
                alt={{"USA.gov logo" | t }}
                role="img"
              /></a>
          </div>
          <div class="usa-identifier__identity-disclaimer">
            <p>{{"Visit our partner site to find more information about voting in the United States." | t }}</p>
          </div>
        </section>
      </section>

      {#Column 2 Divider - USA Links and Email block #}
      <section
        class="usa-identifier__section--usagov"
        aria-label={{ "U.S. government information and services," | t }}
      >
        <nav
          aria-label={{ "Important links," | t }}
        >
            {# USA.gov election info links #}
            {{ drupal_entity('block_content', '18') }}
        </nav>

        <hr>
        {# Email sign-up component. #}
        {{ drupal_entity('block_content', 4) }}
      </section>
    </div>
  </div>
</div>
