<div class="usa-identifier">
    <div
      class="usa-identifier__section--usagov grid-container"
      aria-label={{ "U.S. government information and services," | t }}
    >
      {#Row 1 Divider - USA.gov Links #}
      <nav
        aria-label={{ "Important links," | t }}
      >
          {# USA.gov election info links #}
          {{ drupal_entity('block_content', '18') }}
      </nav>

      <hr>
      {# Row 2 Divider - USA.gov link and email sign-up #}
      <div class="vote-usa-contact-container">
        {# USA.gov link #}
        <section
          class="usa-identifier__section--masthead"
          aria-label={{"Agency identifier," | t }}
        >
          <section
            class="usa-identifier__identity"
            aria-label={{"Agency description," | t }}
          >
            <a href="https://www.usa.gov/" class="usa-identifier__logo">
              <img
                class="usa-identifier__logo-img"
                src="{{ theme_path }}/img/USA_GOV_Logo.svg"
                alt={{"USA.gov logo" | t }}
                role="img"
              /></a>
            <div class="usa-identifier__identity-disclaimer">
              <p>{{"Visit our partner site to find more information about voting in the United States." | t }}</p>
            </div>
          </section>
        </section>
        {# Email sign-up component. #}
        {{ drupal_entity('block_content', 4) }}
      </div>
    </div>
</div>
