{% set GSAlink = link('General Services Administration' | t, 'https://www.gsa.gov/') %}

<div class="vote-eac-partner vote-block-padding-y-narrow" data-test="footerContact">
  <div class="vote-eac-partner__container">
    <div class="vote-eac-partner__logo">
      {# EAC Text #}
      <div class="vote-eac-partner__text">
        <p>{{ 'Vote.gov is in partnership with' | t }}</p>
      </div>
      {# EAC logo #}
      <div class="vote-eac-partner__logo-img">
        <a extlinkjs-ignore
           href="{{ language == 'es' ? 'https://www.eac.gov/translations/spanish' : 'https://www.eac.gov/' }}"
           target="_blank"
           class="vote-eac-partner__logo-link">
          <img width="64" height="64" src="{{ theme_path }}/img/eac-logo.png"
               alt="{{ 'U.S. Election Assistance Commission logo which indicates a partnership with vote.gov' | t }}"/>
            <span>{{ 'U.S. ELECTION ASSISTANCE COMMISSION' | t }}</span>
        </a>
      </div>
    </div>
    <div class="vote-eac-partner__social-links">
      <a class="vote-eac-partner__social-link" extlinkjs-ignore href="https://twitter.com/votegov">
        <p> {{ 'Follow vote.gov on' | t }} </p>
        <img src="{{ theme_path }}/img/x-logo.svg" width="34" height="32" alt="X"/>
      </a>
    </div>
  </div>
</div>
