<div{{ attributes.addClass('vote-feature-cards') }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}
  <h2 id="know-your-voting-rights"
      class="vote-feature-cards__header vote-heading--red-underline vote-heading--max-width">
    {{ heading }}
  </h2>
  <div class="vote-card-group">
    {{ cards }}

    {# Start temporary cards. #}
    {% if language == "en" %}
      {% set fvap_link_military = "https://www.fvap.gov/military-voter" %}
      {% set fvap_link_overseas = "https://www.fvap.gov/citizen-voter" %}
    {% else %}
      {% set fvap_link_military = "https://www.fvap.gov/translated-materials" %}
      {% set fvap_link_overseas = "https://www.fvap.gov/translated-materials" %}
    {% endif %}

    {# Temporary card for military FVAP.gov #}
    <article class="node--voter-guide node--view-mode-teaser usa-card">
      <a extlinkjs-ignore class="vote-card__link" href={{ fvap_link_military }} target="_blank"
         title={{ "Voting as a military service member" | t }}>
        <div class="usa-card__container">
          <div class="vote-feature-card__icon">
            {{ source( directory ~ '/img/svg/Military.svg' ) }}
          </div>
          <div class="vote-feature-card__content">
            <h3 class="usa-card__heading">
              <span>{{ "Voting as a military service member" | t }}</span>
            </h3>
            <div class="usa-card__body">
              <p
                class="usa-link--external">{{ "Learn more from the Federal Voting Assistance Program (FVAP)." | t }}</p>
            </div>
          </div>
        </div>
      </a>
    </article>
    {# Temporary card for overseas FVAP.gov #}
    <article class="node--voter-guide node--view-mode-teaser usa-card">
      <a extlinkjs-ignore class="vote-card__link" href={{ fvap_link_overseas }} target="_blank"
         title={{ "Voting as a U.S. citizen from outside the U.S." | t }}>
        <div class="usa-card__container">
          <div class="vote-feature-card__icon">
            {{ source( directory ~ '/img/svg/Overseas.svg' ) }}
          </div>
          <div class="vote-feature-card__content">
            <h3 class="usa-card__heading">
              <span>{{ "Voting as a U.S. citizen from outside the U.S." | t }}</span>
            </h3>
            <div class="usa-card__body">
              <p
                class="usa-link--external">{{ "Learn more from the Federal Voting Assistance Program (FVAP)." | t }}</p>
            </div>
          </div>
        </div>
      </a>
    </article>
    {# End temporary cards. #}

  </div>
</div>
