<div{{ attributes.addClass('vote-feature-cards') }}>
  {# Hold these title_* placeholders for potential integration #}
  {{ title_prefix }}
  {{ title_suffix }}
  <h2 id="know-your-voting-rights" class="vote-feature-cards__header vote-heading--red-underline vote-heading--max-width">
    {{ heading }}
  </h2>
  <div class="vote-card-group">
    {{ cards }}
  </div>
</div>
