{% set GSAlink = link('General Services Administration' | t, 'https://www.gsa.gov/') %}

<div class="usa-footer__secondary-section" data-test="footerContact">
  <div class="usa-footer__logo grid-container">
      <div class="vote-partnership-container">
        {# GSA logo #}
        <div class="gsa-container">
          <img src="{{ theme_path }}/img/gsa-logo.svg" alt="{{ 'GSA logo'|t }}" width="48" height="48">
          <span aria-label="{{ 'Agency description' | t }}">
            {{ 'Vote.gov is an official website of the @link.' | t({'@link': GSAlink | render}) }}
          </span>
        </div>
        {# EAC logo #}
        <div class="eac-logo-container">
          <a href="{{ language == 'es' ? 'https://www.eac.gov/translations/spanish' : 'https://www.eac.gov/' }}" target="_blank">
            <img class="eac-logo" width="146" height="48" src="{{ theme_path }}/img/eac-logo.webp" alt="{{ 'U.S. Election Assistance Commission logo which indicates a partnership with vote.gov' | t }}" /></a>
        </div>
      </div>
      <div class="usa-footer__social-links">
        <a class="vote-social-link" href="https://twitter.com/votegov">
        <span> {{ 'Follow vote.gov on ' | t }} </span>
        <div class="vote-social-link__icon">
          <img src="{{ theme_path }}/img/x-logo.svg" alt="X" />
        </div>
        </a>
      </div>
  </div>
</div>
