{% set gsaLink = link('General Services Administration' | t , 'https://www.gsa.gov/') %}

{# USWDS Default #}
<div class="usa-identifier vote-block-padding-y-narrow">
  {# GSA logo #}
  <section
    class="usa-identifier__section usa-identifier__section--masthead padding-top-0"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="" class="usa-identifier__logo"
        ><img
            class="usa-identifier__logo-img"
            src="{{ theme_path }}/img/gsa-logo.svg"
            alt="{{ 'GSA logo' | t }}"
          /></a>
      </div>
      <section
        class="usa-identifier__identity"
      >
        <p class="usa-identifier__identity-domain">{{ 'Vote.gov' | t }}</p>
        <p class="usa-identifier__identity-disclaimer">
          {{ "An official website of the @link." | t({'@link': gsaLink | render}) }}
        </p>
      </section>
    </div>
  </section>
  {# footer links #}
  {{ drupal_entity('block', 'votegov_footernavigation') }}
  {# USAgov identifier #}
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
  >
    <div class="usa-identifier__container">
      <p>
        {% set usagov_link = "Visit USA.gov" | t %}
        {% if language == "es" %}
          {% set usagov_url = "https://www.usa.gov/es" %}
        {% else %}
          {% set usagov_url = "https://www.usa.gov" %}
        {% endif %}
        {{'Looking for U.S. government information and services? @link.' | t({
          '@link': {'#markup': " <a href=\"#{usagov_url}\" class=\"usa-link\">#{usagov_link}</a>"} | render
        }) }}
      </p>
    </div>
  </section>

  {% if language == 'en' %}
    <a class="usa-button vote-touchpoints--button" target="_blank" title="{{ 'External link opens in new window' | t }}" href="https://touchpoints.app.cloud.gov/touchpoints/c169d3b2/submit" extlinkjs-ignore>{{ 'How can we improve vote.gov?' | t }}</a>
  {% endif %}
</div>
