<div class="vote-usagov-partner">
    {# USA.gov Links #}
    <nav class="vote-usagov-partner-links grid-container"
      aria-label={{ "Important links," | t }}
    >
        {# USA.gov election info links #}
        {{ drupal_entity('block_content', '18') }}
    </nav>

    {# Row 2 Divider - USA.gov link and email sign-up #}
    <div class="vote-partners-contact-container">
      <div class="vote-usa-contact-container">
        {# USA.gov link #}
        <section
          class="vote-usagov-partner__section--masthead"
          aria-label={{"Agency identifier," | t }}
        >
          <section
            class="vote-usagov-partner__identity"
            aria-label={{"Agency description," | t }}
          >
            <a href="https://www.usa.gov/" class="vote-usagov-partner__logo">
              <img
                src="{{ theme_path }}/img/usa.gov.svg"
                alt={{"USA.gov logo" | t }}
                role="img"
                width="48"
                height="48"
              /></a>
            <div class="vote-usagov-partner__identity-disclaimer">
              <p>{{"Visit our partner site, USA.gov, to find more information about voting in the United States." | t }}</p>
            </div>
          </section>
        </section>
        {# Email sign-up component. #}
        {{ drupal_entity('block_content', 4) }}
    </div>
</div>
