<div class="vote-usagov-partner">
  {# USA.gov Links #}
  {% set content_original = drupal_entity('block_content', '18') | render | striptags %}
  {% set content_translated = content_original | t %}
  {% if language == 'en' or content_translated != content_original %}
    <nav class="vote-usagov-partner__links" aria-label={{ "External election resources" | t }}>
      {# USA.gov election info links #}
      {{ drupal_entity('block_content', '18') }}
    </nav>
  {% endif %}

  {# Row 2 Divider - USA.gov link and email sign-up #}
  <div class="vote-usagov-partner__contact-container">
    <div class="vote-usagov-partner__contact">
      <div class="vote-usagov-partner__logo">
        {# USA.gov link #}
        <a href="https://www.usa.gov/" extlinkjs-ignore>
          <img
            src="{{ theme_path }}/img/usagov-logo.svg"
            alt="{{ "USA.gov logo" | t }}"
            width="48"
            height="48"
          /></a>
        <div class="vote-usagov-partner__disclaimer">
          <p>{{ "Visit our partner site, USA.gov, to find more information about voting in the United States." | t }}</p>
        </div>
      </div>
      {# Email sign-up component. #}
      {{ drupal_entity('block_content', 4) }}
    </div>
  </div>
</div>
