{#
/**
 * partial
 * Voter registration mail-in deadline
 *
 */
#}

{% set postmarked_deadline = content.field_mail_postmarked_deadline | field_value | default(content.field_g_mail_postmarked_deadline | field_value) %}
{% set received_deadline = content.field_mail_received_deadline | field_value | default(content.field_g_mail_received_deadline | field_value) %}

{% if postmarked_deadline %}
  <li><span class="bold-text">{{ 'Register by mail deadline: ' | t }}</span>{{'Must be postmarked by ' | t }}{{ postmarked_deadline | render | striptags }}</li>
{% elseif received_deadline %}
  <li><span class="bold-text">{{ 'Register by mail deadline: ' | t }}</span>{{'Must be received by ' | t }}{{ received_deadline | render | striptags }}</li>
{% endif %}