{#
/**
 * @file
 * Default theme implementation to USWDS primary components.
 *
 * USWDS template variables:
 * - items: array of link objects
 * - mega: boolean (1 / 0)
 * - aria_id: string
 * - classes: classes array (inherits base template classes as default)
 *
 * Usage example:
 * {% include '@uswds_templates/uswds/usa-nav--primary--below.html.twig' with {
 *   'items': var_nav_items,
 *   'mega': var_mega
 *   'aria_id': var_aria
 *   'classes': var_classes
 * } %}
 *
#}

{% set usa_attributes = create_attribute() %}
{% set usa_classes = [
  'usa-nav__submenu',
  mega ? 'usa-megamenu'
] %}

{% if items|length %}
  {% if mega %}
    <div id="{{ aria_id }}" hidden {{ create_attribute({'class': usa_classes}) }}>
      <ul class="usa-nav__submenu-list">
  {% else %}
    <ul id="{{ aria_id }}" hidden {{ create_attribute({'class': usa_classes}) }}>
  {% endif %}

    {% for item in items %}
      <li class="usa-nav__submenu-item">
        {{ link(item.title, item.url, create_attribute({'class': link_classes})) }}
      </li>
    {% endfor %}

    </ul>
  {% if mega %}
    </div>
  {% endif %}
{% endif %}
