{#
/**
 * @file
 * Default theme implementation to USWDS footer component.
 *
 * USWDS template variables:
 * - footer_menu: renderable menu object
 * - sitename: string
 * - facebook_url: url string
 * - instagram_url: url string
 * - twitter_url: url string
 * - youtube_url: url string
 * - rss_url: url string
 * - contact_sitename: string
 * - phone: tel string
 * - email: email string
 *
 * Usage example:
 * {% include '@uswds_templates/uswds/usa-footer.html.twig' with {
 *   'footer_menu': drupal_entity('block', 'footer_menu'),
 *   'sitename': var_sitename,
 *   'facebook_url': 'https://facebook.com',
 *   'instagram_url': 'https://instagram.com',
 *   'twitter_url': 'https://twitter.com',
 *   'youtube_url': 'https://youtube.com',
 *   'rss_url': '/rss',
 *   'contact_sitename': 'Contact ' ~ var_sitename,
 *   'phone': '(800) 555-5555',
 *   'email': 'info@agency.gov',
 * } %}
 *
#}

{# Set social icons #}
{% set social_icons = {} %}
{% set social_icons = facebook_url ? social_icons|merge({'facebook': {'url': facebook_url, 'alt':'Facebook Icon'}}) : social_icons %}
{% set social_icons = instagram_url ? social_icons|merge({'instagram': {'url': instagram_url, 'alt':'Instagram Icon'}}) : social_icons %}
{% set social_icons = twitter_url ? social_icons|merge({'twitter': {'url': twitter_url, 'alt':'Twitter Icon'}}) : social_icons %}
{% set social_icons = youtube_url ? social_icons|merge({'youtube': {'url': youtube_url, 'alt':'Youtube Icon'}}) : social_icons %}
{% set social_icons = rss_url ? social_icons|merge({'rss_feed': {'url': rss_url, 'alt':'RSS Icon'}}) : social_icons %}


<div class="grid-container usa-footer__return-to-top">
  <a href="#">{{ 'Return to top'|t }}</a>
</div>

{% if footer_menu %}
  <div class="usa-footer__primary-section">
    {# Footer menu block. #}
    {{ footer_menu }}
  </div>
{% endif %}

<div class="usa-footer__secondary-section">
  <div class="grid-container-widescreen">
    <div class="grid-row grid-gap">

      <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
        <div class="mobile-lg:grid-col-auto">
          <img class="usa-footer__logo-img" src="{{ uswds_img_path }}/usa-icons/people.svg" alt=""
               width="50"
               height="50"/>
        </div>
        {% if sitename %}
          <div class="mobile-lg:grid-col-auto">
            <p class="usa-footer__logo-heading">
              {{ sitename }}
            </p>
          </div>
        {% endif %}
      </div>

      <div class="usa-footer__contact-links mobile-lg:grid-col-6">
        {% if social_icons | children %}
          <div class="usa-footer__social-links grid-row grid-gap-1">
            {# Social icons loop. #}
            {% for item in social_icons %}
              {% if item.url %}
                <div class="grid-col-auto">
                  <a class="usa-social-link" href="{{ item.url }}">
                    <img
                      class="usa-social-link__icon"
                      src="{{ uswds_img_path }}/usa-icons/{{ _key }}.svg"
                      alt="{{ item.alt }}"
                      width="24"
                      height="24"/>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if contact_sitename %}
          <p class="usa-footer__contact-heading">
            {{ contact_sitename }}
          </p>
        {% endif %}

        {% if phone or email %}
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              {% if phone %}
                <div class="grid-col-auto">
                  <a href="tel:{{ phone | first != '1' ? '+1' }}{{ phone | replace({
                    " ": "",
                    ".": "",
                    "-": "",
                    "(": "",
                    ")": "",
                  }) }}">{{ phone }}</a>
                </div>
              {% endif %}
              {% if email %}
                <div class="grid-col-auto">
                  <a href="mailto:{{ email }}">{{ email }}</a>
                </div>
              {% endif %}
            </div>
          </address>
        {% endif %}
      </div>

    </div>
  </div>
</div>
