{#
/**
 * @file
 * Default theme implementation to USWDS identifier component.
 *
 * USWDS template variables:
 * - domain: string
 * - agencyname: string
 * - agency_url: url string
 * - identifier_menu: renderable menu object
 * - description_link_url: url string
 * - description_link_text: url string
 *
 * Usage example:
 * {% include '@uswds_templates/uswds/usa-identifier.html.twig' with {
 *   'domain': 'domain.gov',
 *   'agencyname': "General Service Administration" | t,
 *   'agency_url': "https://gsa.gov/",
 *   'identifier_menu': drupal_entity('block', 'identifier_menu'),
 *   'description_link_url': "https://www.usa.gov/",
 *   'description_link_text': "Visit USA.gov" | t,
 * } %}
 *
#}

<div class="usa-identifier">
  {% if domain and agencyname and agency_url %}
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label="{{ 'Agency identifier' | t }}">

      <div class="usa-identifier__container grid-container-widescreen">
        <div class="usa-identifier__logos">

          <a href="{{ agency_url }}" class="usa-identifier__logo">
            <img
              class="usa-identifier__logo-img"
              src="{{ uswds_img_path }}/circle-gray-20.svg"
              alt="{{ agencyname ~ ' logo' | t }}"
              role="img"/>
          </a>
        </div>

        <section
          class="usa-identifier__identity"
          aria-label="{{ 'Agency description' | t }}">

          <p class="usa-identifier__identity-domain">{{ domain }}</p>
          <p class="usa-identifier__identity-disclaimer">
            {{ 'An official website of the' | t }}
            <a href="{{ agency_url }}"/>{{ agencyname }}</a>
          </p>
        </section>
      </div>

    </section>
  {% endif %}

  {{ identifier_menu }}

  {% if description_link_url and description_link_text %}
    <section
      class="usa-identifier__section usa-identifier__section--usagov"
      aria-label="{{ 'U.S. government information and services' | t }}">

      <div class="usa-identifier__container grid-container-widescreen">
        <div class="usa-identifier__usagov-description">
          {{ 'Looking for U.S. government information and services?' | t }}
        </div>
        <a href="{{ description_link_url }}" class="usa-link" title="{{ description_link_text }}">{{ description_link_text }}</a>
      </div>

    </section>
  {% endif %}
</div>
