{#
/**
 * @file
 * Default theme implementation to USWDS hero component.
 *
 * USWDS template variables:
 * - image_style_url: url string
 * - bottom_margin: 0 or 1
 * - title_eyebrow: string
 * - title: string
 * - text: string
 * - link_title: string
 * - link_url: url string
 * - classes: classes array
 *
 * Usage example:
 * {% include '@vote_gov/uswds/usa-hero.html.twig' with {
 *   'image_style_url': var_image_url,
 *   'bottom_margin': var_bottom_margin,
 *   'title_eyebrow': var_title_eyebrow | field_value,
 *   'title': var_title | field_value,
 *   'text': var_text | field_value,
 *   'link_title': var_link_title,
 *   'link_url': var_url,
 *   'classes': var_classes
 * } %}
 *
#}

{% set usa_classes = [
  'usa-hero',
  bottom_margin == 0 ? 'margin-bottom-8' : 'margin-bottom-0',
  'paragraph',
  'paragraph--type--usa-hero',
] %}

<section{{ attributes.addClass(usa_classes | merge(classes | default([]))).setAttribute('aria-label', ('Introduction'|t)  ) }}
  style="background-image: url('{{ image_style_url }}')">
  {% block content %}
    <div class="grid-container">
      <div class="usa-hero__callout">

        <h1 class="usa-hero__heading">
          {% if title_eyebrow %}
            <span class="usa-hero__heading--alt">
                {{ title_eyebrow }}
              </span>
          {% endif %}
          {{ title }}
        </h1>

        {% if text %}
          <p>{{ text }}</p>
        {% endif %}

        {% if link_title and link_url %}
          <a class="usa-button usa-button--outline usa-button--inverse"
             href="{{ link_url }}"
             title="{{ link_title }}">
            {{ link_title }}
          </a>
        {% endif %}

      </div>
    </div>
  {% endblock %}
</section>
