{% extends 'media.html.twig' %}
{#
/**
 * @file
 * Theme override to display a media item: document.
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}

{% block content %}
  <div{{ attributes.addClass(classes) }}>
    {# Hold these title_* placeholders for potential integration #}
    {{ title_prefix }}
    {{ title_suffix }}
    {% if content.field_media_file | render %}
      {{ content.field_media_file | field_value }}
      <svg class="usa-icon usa-icon--size-3 text-tbottom" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="{{ uswds_img_path }}/sprite.svg#file_present"></use>
      </svg>
    {% endif %}
  </div>
{% endblock %}
