{% extends 'media.html.twig' %}
{#
/**
 * @file
 * Theme override to display a media item: remote video.
 */
#}

{# Caching the data in content object #}
{% set savedCache = content | render %}

{% block content %}
  <div{{ attributes.addClass(classes) }}>
    {# Hold these title_* placeholders for potential integration #}
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="vote-media--remote-video__container">
      {{ content.field_media_oembed_video | field_value }}
    </div>
    {% if content.field_transcript | render %}
      <div class="vote-media--remote-video__transcript">
        {{ content.field_transcript | field_value }}
      </div>
    {% endif %}
  </div>
{% endblock %}
