{#
/**
 * @file
 * Bixal USWDS implementation for main navigation
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{% set attributes = attributes.addClass('menu') %}
<nav aria-label="{{ 'Primary navigation' | t }}" class="usa-nav" data-test="mainNav">
  <div class="usa-nav__inner">
    <div class="grid-container usa-nav__close-container">
      <button type="button" class="usa-nav__close" data-test="mainCloseBtn">{{ 'Close' | t }}</button>
    </div>
  {{ menus.menu_links(items, attributes, 0, 'basic-mega-nav-section-') }}
  <div class="usa-nav__secondary">
    {{ drupal_entity('block_content', 2) }}
  </div>
  {% if language == 'en' %}
      <div class="usa-nav__secondary">
        <button class="usa-button" id="vote-touchpoints--button" title="{{ 'How can we improve vote.gov?' | t }}" data-test="touchpointsBtn">{{ 'How can we improve vote.gov?' | t }}</button>
        <script src="https://touchpoints.app.cloud.gov/touchpoints/c169d3b2.js" async></script>
      </div>
  {% endif %}
</div>
</nav>

{% macro menu_links(items, attributes, menu_level, aria_id) %}
  {% import _self as menus %}
  {% if items %}
    {# Primary level menu structure. #}
    {% if menu_level == 0 %}
      <ul class="usa-nav__primary usa-accordion" data-test="mobileNav">
        {% for item in items %}
          {% set aria_id = aria_id ~ loop.index | clean_id %}
          <li class="usa-nav__primary-item">
            {% if item.below %}
              <button
                type="button"
                class="usa-accordion__button usa-nav__link {{ item.in_active_trail ? 'usa-current' }}"
                aria-expanded="false"
                aria-controls="{{ aria_id }}"
              >
                <span>{{ item.title }}</span>
              </button>
              <div
                id="{{ aria_id }}"
                class="usa-nav__submenu"
                hidden
              >
              <ul class="usa-nav__submenu-list" data-test="subMenu">
                {% set link_classes = [
                  'usa-nav__link',
                  'usa-nav__link--parent',
                  item.in_active_trail ? 'usa-current'
                ] %}
                <li class="usa-nav__submenu-item">
                  {% set link_attributes = item.in_active_trail ? {'aria-current': 'page'} : {} %}
                  {{ link(item.title, item.url, {'class': link_classes} | merge(link_attributes)) }}
                </li>
                {{ menus.menu_links(item.below, attributes, menu_level + 1, aria_id) }}

            {% else %}
              {% if item.url.isRouted() and item.url.routeName == '<nolink>' %}
                  <button
                    type="button"
                    class="usa-nav__link"
                  >
                    <span>{{ item.title }}</span>
                  </button>
              {% else %}
                {% set link_classes = [
                  'usa-nav__link',
                  item.in_active_trail ? 'usa-current'
                ] %}
                {% set link_attributes = item.in_active_trail ? {'aria-current': 'page'} : {} %}
                {{ link(item.title, item.url, {'class': link_classes} | merge(link_attributes)) }}
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {# Secondary level menu structure. #}
    {% elseif menu_level == 1 %}
        {% for item in items %}
          <li class="usa-nav__submenu-item">
            {% if item.url.routeName != '<nolink>' %}
              {% set link_attributes = item.in_active_trail ? {'aria-current': 'page'} : {} %}
              {{ link(item.title, item.url, link_attributes) }}
            {% else %}
              <span>{{ item.title }}</span>
            {% endif %}
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endif %}
{% endmacro %}
