{#
/**
 * @file
 * Vote.gov USWDS theme implementation for the footer menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}
{% set infoLink = link('Visit USA.gov' | t, (language == 'es' ? 'https://www.usa.gov/espanol/' : 'https://www.usa.gov/')) %}

<div class="usa-footer__primary-section" data-test="footer">
    {# GSA logo #}
    <div class="gsa-container grid-container">
      <img src="{{ theme_path }}/img/gsa-logo.svg" alt="{{ 'GSA logo'|t }}" width="48" height="48">
      <span aria-label="{{ 'Agency description' | t }}">
        <p>{{ "vote.gov" }}</p>
        <strong>{{ "An official website of the General Services Administration" | t }}</strong>
      </span>
    </div>
    {# footer links #}
    <div class="grid-container">
      {{ menus.menu_links(items, attributes, 0) }}
    </div>
    <div class="identifier-gov-info grid-container" aria-label="{{ 'Government information and services' | t }}">
        {{ 'Looking for U.S. government information and services? @link.' | t({'@link': infoLink | render}) }}
    </div>
</div>

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}

  {% if items %}
    <div class="identifier-links-container" data-test="footerLinks" >
      <ul class="usa-list usa-list--unstyled identifier-links">
    {% for item in items %}
        <li>{{ link(item.title, item.url) }}</li>
    {% endfor %}
      </ul>
    </div>
  {% endif %}

{% endmacro %}
