{#
/**
 * @file
 * Default theme implementation to BX tabs component.
 *
 * BX template variables:
 * - tabs_items: array of tab item values
 *    - id: string id
 *    - selected: boolean
 *    - title: string text
 * - tabs_items_values: field object value
 * - classes: classes array
 *
 * Usage example:
 * {% include '@vote_gov/bx/bx-tabs.html.twig' with {
 *   'tabs_items': var_tabs_items,
 *   'tabs_items_values': var_tabs_item | field_value,
 *   'classes': var_classes
 * } %}
 *
#}
{{ attach_library('vote_gov/a11y_tabs') }}

{% set bx_classes = [
  'c-tabs',
  'component',
  'component--type--bx-tabs'
] %}

<section{{ attributes.addClass(bx_classes | merge(classes | default([]))) }}>
  {% block content %}
    <div class="c-tabs__list" role="tablist">
      {% for item in tabs_items %}
        <button
          class="c-tabs__item c-tabs__button usa-button"
          role="tab"
          aria-controls="panel-{{- item.id }}"
          aria-selected="{{ item.selected }}">
          {{ item.title }}
        </button>
      {% endfor %}
    </div>

    {{ tabs_items_values }}
  {% endblock %}
</section>
