{#
/**
 * partial
 * Voter online registration deadline
 *
 */
#}
{% set deadline = content.field_in_person_deadline | field_value | default(content.field_g_in_person_deadline | field_value) %}

{% if deadline %}
  <li><strong>{{ 'In person registration deadline:' | t }}</strong> {{ deadline }}</li>
{% endif %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "{{ 'How to register to vote in @state_name' | t({ '@state_name': state_name }) }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{ 'Register in person at your local election office. Learn more about how to register on @link.' | t({
            '@link': { "#markup": "<a href=\"#{more_info_link}\">#{more_info_link_text}</a>" } | render
        }) }}"
    }
    },{
        "@type": "Question",
        "name": "{{ 'Voter registration deadlines in @state_name' | t({ '@state_name': state_name }) }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ 'Register by mail deadline:' | t }} {{ deadline }}"
        }
      }{{ end }}]
  }
</script>
